body {
    background: rgb(92, 92, 92);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    max-width: 600;
    margin:auto
}

#title, .subtitle, .post_title {
    color:rgb(90, 28, 28)
}

.titulo-inicial{
    font-size: 60px;
    font-style: italic;
    text-transform: uppercase;
}

.post_title{
    font-size: 16px;
    font-style:italic;
    margin: 0;
    margin-bottom: 15px;
}

.post{
    background: rgb(255, 255, 255);
    padding: 10px;
    border: solid 2px black;
    margin: 15px;
    border-radius: 10px;
}

.post-content{
    margin: 0;
    margin-bottom: 15px;
}

.post-image{
    margin-bottom: 15px;
    border-radius: 10;
    width: 100%;
}

.foto{
    border-radius: 25px;
}

#title{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style:italic;
    font-size: 16px;
    text-transform: uppercase;
}
a {
    text-decoration: line-through;
    color: black;
}

.contact-list{
    list-style-type: none;
    padding-left: 15px;
}

.contact-list li a{
    text-decoration: none;
}